.modal {
  display: none;
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 1.75rem auto;
  overflow: hidden;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.width-30 {
  width: 30%;
}

.mr-2 {
  margin-right: 2rem;
}

.mt-1\.7 {
  margin-top: 1.9rem;
}

.add-skill-btn {
  width: 180px;
}

.profile-image {
  width: 200px;
  height: 200px;
  background: #cddbdc;
  border-radius: 50%;
}

.profile-image-container {
  background-color: #f5efef;
  margin-right: 1rem;
  border-radius: 50%;
  max-height: 220px;
}

.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
