.card {
  width: 300px;
  min-height: 350px;
  max-height: 450px;
  height: auto;
  margin: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.8s;
  background-color: #f1f1f1;
}

.card img {
  width: 100%;
  height: auto;
  width: 60%;
  height: auto;
  border-radius: 50%;
  border: #ffffff 8px solid;
  margin: 1rem auto;
}

.container {
  padding: 2px;
  padding-bottom: 10px;
  text-align: center;
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}
